{{> header }}

<div class="alert alert-node text-center">
	You don't node? We node! At WeNode, October 4. <a href="http://wenode.barcelonajs.org">Check out WeNode!</a>
</div>

<div class="content">
	{{{ content }}}
</div>

{{> footer }}
