{{> header }}

<div class="alert alert-node text-center">
	BarcelonaJS Node.js Conference <a href="http://wenode.barcelonajs.org">WeNode!</a>, October 4.
</div>

<div class="content">
	{{{ content }}}
</div>

{{> footer }}
