{{> header}}

  <div role="main">
    <section class="title">
        <h2>{{intro}}</h2>
    </section>
    <section class="history">
      {{#events}}
        {{> history }}
      {{/events}}
    </section>
    <section class="history">
        <article class="history-event">
            <h3><a href="/history">2014 Events</a></h3>
        </article>
    </section>
  </div>

{{> footer}}
