{{> header}}

  <div role="main">

    <section class="history">
      {{#events}}
        {{> history }}
      {{/events}}
    </section>
    <section class="history">
        <article class="history-event">
            <h3><a href="/history/2013">2013 Events</a></h3>
        </article>
    </section>
  </div>

{{> footer}}
